body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff; /* Fond blanc pour une apparence plus légère */
    color: #333;
    line-height: 1.6;
    background-image: url('img/margaret_hamilton_restoration.jpg'); /* Chemin vers votre image */
    background-size: cover; /* Pour couvrir tout l'arrière-plan */
    background-position: center; /* Centrer l'image */
    background-repeat: no-repeat; /* Ne pas répéter l'image */
}

header {
   background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Aligner les enfants verticalement */
    align-items: center; /* Centrer verticalement les éléments enfants */
    justify-content: center; /* Espace équilibré entre les éléments enfants */
}

header h1 {
    font-size: 3em; /* Augmenter la taille du titre */
    color: #fff; /* Texte en blanc */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ajouter une ombre au texte */
    margin-bottom: 5px; /* Ajuster la marge entre le titre et le paragraphe */
}

header h1:hover {
    transform: scale(1.1); /* Zoom au survol */
}

header p:hover {
    transform: scale(1.1); /* Zoom au survol */
}

header img {
    max-width: 300px;
    height: auto;
    border-radius: 50%; /* Ajouter une bordure arrondie */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ajouter une ombre légère */
    transition: transform 0.3s ease;
}

header img:hover {
    transform: scale(1.1); /* Zoom au survol */
}

header p {
    font-size: 1.5em;
    margin-top: 5px; /* Ajuster la marge entre le titre et le paragraphe */
    color: #fff;
}

nav {
    font-size: larger;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Aligner les éléments enfants verticalement */
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00; /* Jaune */
}

section {
    
    padding: 20px; /* Réduire le padding pour moins d'espace intérieur */
    margin: 20px 0; /* Réduire la marge pour moins d'espace entre les sections */
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    
}

#galerie img {
    max-width: 30%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    border-radius: 10px;
    margin: 0 10px; /* Marge horizontale entre les images */
}

h2 {
    font-size: 1.5em; /* Réduire la taille de la police pour les titres de section */
    color: #333;
    border-bottom: 2px solid #333;
}

p {
    font-size: 1em; /* Réduire la taille de la police pour le texte dans les sections */
    color: #555;
}

footer p {
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative; /* Position relative pour éviter le chevauchement */
}

#travaux iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    width: 100%;
    max-width: 640px;
    height: 360px; 
    border-radius: 10px;
    margin-top: 10px;

}

.bouton-section {
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

.bouton-section:hover {
    background-color: #eee;
}

.contenu-section {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.contenu-section.active {
    max-height: 1000px;
}

.bouton-section-travaux {
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

.bouton-section-travaux:hover {
    background-color: #eee;
}

.contenu-section-travaux {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.contenu-section-travaux.active {
    max-height: 1000px; 
}

.bouton-section-galerie {
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

.bouton-section-galerie:hover {
    background-color: #eee;
}

.contenu-section-galerie {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.contenu-section-galerie.active {
    max-height: 1000px;
}

.bouton-section-apropos {
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

.bouton-section-apropos:hover {
    background-color: #eee;
}

.contenu-section-apropos {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.contenu-section-apropos.active {
    max-height: 1000px;
}

.bouton-section-sources {
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}

.bouton-section-sources:hover {
    background-color: #eee;
}

.contenu-section-sources {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.contenu-section-sources.active {
    max-height: 1000px;
}